#input-box{
    position: absolute;
    bottom:10px;
    left: 10px;
    color: white;
    background: #2036FF;
    border-style: solid;
    border-width: 4px;
    text-indent: 0.5rem;
    padding: 0.3rem;
    font-size: 1rem;
    text-transform: uppercase;
}
#input-box::placeholder {
    color: white;
    font-weight: bold;
}
td.blur-out-contract-bck {
    -webkit-animation: blur-out-contract-bck 1.2s linear both;
    animation: blur-out-contract-bck 1.2s linear both;	
}
@-webkit-keyframes blur-out-contract-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px);
              transform: translateZ(-500px);
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  @keyframes blur-out-contract-bck {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-500px);
              transform: translateZ(-500px);
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }