#input-box{
    position: absolute;
    bottom:10px;
    left: 10px;
    color: white;
    background: #2036FF;
    border-style: solid;
    border-width: 4px;
    text-indent: 0.5rem;
    padding: 0.1rem;
    font-size: 1rem;
    text-transform: uppercase;
}
#input-box::placeholder {
    color: white;
    font-weight: bold;
}
#start{
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 5vw;
}
#go-button{
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;   
    width: 3vw;     
}
#stop-button{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 3vw;        
}
td.text-blur-out {
	-webkit-animation: text-blur-out 1.2s ease-in-out both;
	        animation: text-blur-out 1.2s ease-in-out both;
}
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(1.5vw) opacity(0%);
            filter: blur(1.5vw) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(1.5vw) opacity(0%);
            filter: blur(1.5vw) opacity(0%);
  }
}